/* Définition des styles globaux */
body {
    font-family: sans-serif;
    margin: 0;
  }
  
  /* Styles pour l'en-tête */
  header {
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 1rem;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  /* Styles pour les sections */
  section {
    padding: 2rem;
  }
  
  section h2 {
    margin-top: 0;
  }
  
  /* Styles pour le pied de page */
  footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
  }
 
  *, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body {
    background: #333;
} */

.container {
    width: 700px;
    height: 630px;
    /* background: #f1f1f1; */
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}
.bloc {
    height: 70px;
    margin: 5px;
    border-radius: 25px;
    background-image: repeating-linear-gradient(135deg, rgba(189,189,189,0.1) 0px, rgba(189,189,189,0.1) 2px,transparent 2px, transparent 4px),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
    flex-grow: 1;
    transition: flex-grow 0.4s ease-out;
    position: relative;
    overflow: hidden;
}
.active {
    flex-grow: 10000;
}
.bloc * {
    pointer-events: none;
}
.bloc-haut {
    height: 70px;
    /* background: #000; */
    display: flex;
    align-items: center;
}
.rond {
    margin-left: 20px;
    width: 50px;
    height: 50px;    
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #222, #333);
    border-radius: 50%;
}
.rond img {
    width: 40px;
}
.bloc .ligne {
    width: 60%;
    height: 1px;
    border-radius: 2px;
    background: #222;
    margin: 0 5px 0 auto;
}
.titre-section {
    margin: 0 25px;
    font-size: 30px;
}
.prix {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    margin: 0 18px 0 10px;
    font-weight: bold;
}

.contenu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenu img {
    width: 200px;
    margin-right: 30px;
    margin-left: 30px;
}
.contenu p{
    width: 350px;
}
.infos  {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.infos h2 {
    letter-spacing: 3px;
    margin-bottom: 10px;
}
.infos p {
    line-height: 140%;
}
.infos button{
    background: transparent;
    border: 1px solid #222;
    padding: 10px 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 17px;
    pointer-events: auto!important;
}
.infos button:active {
    transform: scale(0.95);
}